.traffic-light {
    width: 150px;
    height: 400px;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }
  
  .light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.5;
  }
  
  .red {
    background-color: #FF0000;
  }
  
  .yellow {
    background-color: #FFFF00;
  }
  
  .green {
    background-color: #00FF00;
  }
  
  .active {
    opacity: 1;
  }
  
  
  





